body {
    background-color: black;
    margin: 0;
}

.container{
    margin-top: 250px;
    width: 100%;
    text-align: center;
}

h1 {
    color: white;
    font-family: "system-ui";
    letter-spacing: 4px;
    font-size: 60px;
    font-weight: 200;
}

