body {
    background-color: black;
    margin: 0;
}

.container{
    margin-top: 250px;
    width: 100%;
    text-align: center;
}


.result {
    margin-top: 50px;
    border: 3px white solid;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

h1 {
    color: white;
    font-family: "system-ui";
    letter-spacing: 4px;
    font-size: 60px;
    font-weight: 200;
}

